

.container-fluid{
    width: 100%;
    height: 100vh;

    /* background-image: url(images/background3.jpg); */
    background-position: center;

}

.coin-list{


    display: flex;
    align-items: center;
}


.coin img{


    width: 60px;


    
}

.coin{
    display:inline-block;
    color: black;
}

body{
    display: flex;
    padding-top:56px;
}
/* .navbar{
    position: flex;
} */

table{
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
      border: 1px solid #cccccc;
      padding: 8px;
  }

  th {
    font-weight: bold;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  tr:hover {
    background-color: black;
    color: white;
  }

  /* :root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  #container {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
  }
  
  .grid-item {
    padding: 1em;
    border: 1px solid #000000;
    text-align: center;
  } */