

.container-fluid{
    width: 100%;
    height: 100vh;

    /* background-image: url(images/background3.jpg); */
    background-position: center;

}

.coin-list{


    display: flex;
    align-items: center;
}


.coin img{


    width: 60px;


    
}

.coin{
    display:inline-block;
    color: black;
}

body{
    display: flex;
    padding-top:56px;
}
/* .navbar{
    position: flex;
} */

table{
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 200%;
    border: 5;
    text-align: right !important;
}

td, th {
    border: 1px solid #cccccc;
    padding: 8px;
}

th {
    font-weight: bold;
    text-align: right !important;
}

/* #tableData tr:nth-child(even) {
    background-color: #dddddd;
} */

#tableData tr:hover {
    background-color: #f2f2f2;
    /* color: black; */
}

.page-item.active .page-link {
    background-color: #e5e5e5 !important;
    border: 1px solid #e5e5e5 !important;
}

.page-link {
    color: black !important;
}

div.dataTables_wrapper div.dataTables_paginate {
    padding-top: 1em;
    padding-bottom: 1em;
}

#allcryptoTable_filter {
    padding-top: 1em;
}

#paginate-button {
    padding-right: 3px;
    padding-left: 3px;
}

th.sorting::before th.sorting::after {
    color: black !important;
    opacity: 0 !important;
}

