{% load static %}

<footer class="bg-dark text-white pt-4 pb-3 absolute-bottom">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Company Name</h5>
                <p>footer content</p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Explore</h5>
                <p><a href="#" class="text-white" style="text-decoration: none;">All Cryptos</a></p>
                <p><a href="#" class="text-white" style="text-decoration: none;">Popular Cryptos</a></p>
                <p><a href="#" class="text-white" style="text-decoration: none;">NFT</a></p>
            </div>

        
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contact</h5>
                <p><i class="fas fa-home mr-3"></i>&nbsp; Toronto</p>
                <p><i class="fas fa-envelope mr-3"></i>&nbsp; hello@gmail.com</p>
                <p><i class="fas fa-phone mr-3"></i>&nbsp; +1 123-456-7890</p>
            </div>
        </div>

        <hr class="mb-4">

        <div class="row align-items-center">
            <div class="col-md-7 col-lg-8">
                <p>Copyright @2022 All rights reserved by:
                    <a href="#" style="text-decoration: none;"><strong class="text-warning">D&M</strong></a>
                </p>
            </div>

            <div class="col-md-5 col-lg-4">
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li style="display:inline">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px; padding-right: 25px;"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li style="display:inline">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px; padding-right: 25px;"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li style="display:inline">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px; padding-right: 25px;"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
</footer>